{{> menu}}

<section class="section">
  <div class="name">
    {{poi.name}}
  </div>
</section>

<form class="box"  action="/poi/{{category._id}}/updatepoi/{{poi._id}}" method="POST">
  <label>Update Track Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="name", value="{{poi.name}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="latitude" value="{{poi.latitude}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="longitude" value="{{poi.longitude}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Track</button>
</form>